@font-face {
  font-family: "Gotham";
  src: url("./gotham-cufonfonts-webfont/Gotham-Black.woff") format("woff");
 }
 @font-face {
  font-family: "GothamLight";
  src: url("./gotham-cufonfonts-webfont/Gotham-Light.woff") format("woff");
 }
 @font-face {
  font-family: "GothamRegular";
  src: url("./gotham-cufonfonts-webfont/GothamMedium.woff") format("woff");
 }