footer {
  font-family: gothamLight;

  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 40px;
  }
  p {
    text-align: left;
    line-height: 2;
    font-size: 1.2em;

    strong {
      font-family: gothamRegular;
    }
  }
  p:nth-child(6)  {
    text-align: center;
  }
  .tel {
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2%;

  }
  .mail {
    text-align: center;

  }
}
@media (min-width: 768px) {
  footer {
    font-family: gothamLight;
    p {
      strong {
        font-family: gothamRegular;
      }
    }
    p:nth-child(6)  {
      text-align: center;
    }
    .about {
      width: 400px;
    }
  }
}
